        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll="" m-scroll
        data-collapse-nav
        data-highli ui-sref-active="active"ght-active>
        <li ui-sref-active="active" class="nav-title">
            <span data-translate="NAVIGATION"></span>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="dashboard"><i class="fa fa-dashboard"></i><span data-translate="DASHBOARD"></span></a>
            <ul>
                <li ui-sref-active="active"><a ui-sref="tableau-de-bord"><i class="fa fa-caret-right"></i><span data-translate="DConstats"></span></a></li>
                <li ui-sref-active="active"><a ui-sref="tableau-de-bord-delegataire"><i class="fa fa-caret-right"></i><span data-translate="DTraitCounstats"></span> <span class="badge badge-info">2</span></a></li>
                <li ui-sref-active="active"><a ui-sref="tableau-de-bord-controleur"><i class="fa fa-caret-right"></i><span data-translate="Dcontroller"></span></a></li>
            </ul>
        </li>
        <li ui-sref-active="active"><a ui-sref="dashboard1"> <i class="fa fa-dashboard"></i><span data-translate="ACP"></span> </a></li>
        <li ui-sref-active="active"><a ui-sref="dashboard2"> <i class="fa fa-dashboard"></i><span data-translate="Tonnage"></span> </a></li>
        <li ui-sref-active="active">
		    <a href ui-sref="attachements"> <i class="fa fa-dashboard"></i><span data-translate="Attachements Averda"></span> </a>
			<ul>
                <li ui-sref-active="active"><a href ui-sref="lavage-mecanise-averda"><i class="fa fa-caret-right"></i><span data-translate="Lavage Mécanisé"></span></a></li>
                <li ui-sref-active="active"><a href ui-sref="balayage-mecanise-averda"><i class="fa fa-caret-right"></i><span data-translate="Balayage Mécanisé"></span></a></li>
				<li ui-sref-active="active"><a href ui-sref="lavage-brossage-averda"><i class="fa fa-caret-right"></i><span data-translate="Lavage Brossage"></span></a></li>
			</ul>
		</li>
		<li ui-sref-active="active">
		    <a href ui-sref="attachements"> <i class="fa fa-dashboard"></i><span data-translate="Attachements Sita"></span> </a>
			<ul>
                <li ui-sref-active="active"><a href ui-sref="lavage-mecanise-sita"><i class="fa fa-caret-right"></i><span data-translate="Lavage Mécanisé"></span></a></li>
                <li ui-sref-active="active"><a href ui-sref="balayage-mecanise-sita"><i class="fa fa-caret-right"></i><span data-translate="Balayage Mécanisé"></span></a></li>
				<li ui-sref-active="active"><a href ui-sref="lavage-brossage-sita"><i class="fa fa-caret-right"></i><span data-translate="Lavage Brossage"></span></a></li>
            </ul>
		</li>
		<li ui-sref-active="active">
		    <a href ui-sref="attachements"> <i class="fa fa-dashboard"></i><span data-translate="Consultation"></span> </a>
			<ul>
                <li ui-sref-active="active"><a href ui-sref="vehicules"><i class="fa fa-caret-right"></i><span data-translate="Vehicules"></span></a></li>
                <li ui-sref-active="active"><a href ui-sref="attachements-sita"><i class="fa fa-caret-right"></i><span data-translate="Attachements Sita"></span></a></li>
				<li ui-sref-active="active"><a href ui-sref="attachements-averda"><i class="fa fa-caret-right"></i><span data-translate="Attachements Averda"></span></a></li>
            </ul>
		</li>
        <li ui-sref-active="active"><a ui-sref="dashboard4"> <i class="fa fa-dashboard"></i><span data-translate="Penalite"></span> </a></li>

    </ul>
</div>
